.section{
    display: flex;
    justify-content: center;
    
    
}

.container {
    flex: 0 0 66%;
    
    
}
.title {
    color: white;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-top:260px;
    margin-bottom: 24px;
    
}

.text {
 text-align: center;
 font-size: 18px;
 color: white;
 

}